.custom-bg {
    background-image: url(../img/reto6bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-color: #0000005f;
    background-blend-mode: multiply;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);

    min-height: calc(100vh - 84px);
    min-height: calc(100dvh - 84px);
}